<footer>
    <hr/>
    <div class='container'>
        <div class='row'>
            {% for tag in site.tags %}
                {% if tag[0] != 'Chrome_Extension' and tag[0] != 'Personal_Website' and tag[0] != 'Inactive_Chrome_Extension' and tag[0] != 'Featured_Project' %}
                    <ul class='span3 sales'>
                        <h3>{{ tag[0] }}</h3>
                        {% for posts in tag %}
                            {% for post in posts %}
                                {% if post.url %}
                                    {% if post.url != page.url %}
                                        <li>
                                            <a href="{{ post.url }}" title="{{ post.title }}">
                                                {{ post.title }}
                                            </a>
                                        </li>
                                    {% else %}
                                        <li>
                                            {{ post.title }}
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</footer>