---
layout: ForSale
title: 
tag-line: All the Stuff I want rid of
---
<div class='row'>
    <h3>Video Games</h3>
    {% for post in site.tags.['Video Games'] %}
        <div class='span3 item'>
            <a href="{{ post.url }}" title="{{ post.title }}">
                <img src='{{ post.thumb }}' class='item-thumb'>
                <h3>{{ post.title }}</h3>
            </a>
        </div>
    {% endfor %}
    {% for tag in site.tags %}
        <ul>
            <h5>{{ tag | first }}</h5>
            {% for post in site.tags.[tag | first] %}
                <li>
                    <a href="{{ post.url }}" title="{{ post.title }}">
                        {{ post.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>