.post-image {
    text-align: center;	
}
.item-image {
    max-width: 100%;
    max-height: 600px;
    margin: 0px auto 20px;
}
.item {
    text-align: center;
    height: 320px;
}
.item-image.portrait {
    float: left;
    margin: 0 20px 20px 0;	
}
.item-thumb {
    max-width:  100%;
    max-height: 250px;	
}
.item-details {
    margin-bottom: 20px;	
}
.item-details label {
    font-weight: bold;
    margin-right: 10px;
}

.trading .wanted {
    color:          #999;
    font-weight:    bold;
    font-size:      90%;	
}
footer .sales {
    font-weight:    bold;
    min-height:     100px;	
}