<div class="row">
	<aside class="sidebar span4 pull-right">
		<div id="logged-in">
			<form ng-submit="addDeal()" id="add-deal-form">
				<legend>Add a Deal</legend>
				<div class="control-group">
					<label class="control-label" for="title">Title:</label>
					<input type="text" ng-model="newDeal.title" id="title" required="">
				</div>
				<div class="control-group">
					<label class="control-label" for="url">URL: <a ng-show="newDeal.url" href="{{newDeal.url}}" target="_external">[test link]</a></label>
					<input type="url" ng-model="newDeal.url" id="url" required="">
				</div>
				<div class="control-group">
					<label class="control-label" for="detail">Details: <js-input-counter input="#detail" text="{{ newDeal.detail }}"></js-input-counter> Max Chars</label>
					<textarea ng-model="newDeal.detail" id="detail" js-maxlength="300" required=""></textarea>
					
				</div>
				<div class="control-group">
					<button class="btn btn-primary" type="submit">Submit</button>
				</div>
			</form>
		</div>
	</aside>
	<section id="deals" class="span8">
		<div ng-cloak="" ng-repeat="deal in filteredDeals = ( deals[filter.collection] | toArray | orderBy:sort.field:sort.reverse )">
			<div class="deal clearfix" ng-show="$index >= startIndex">
        		<div class="scoring pull-left" ng-class="{loggedIn: user.id}">
       				<div ng-click="like( deal )">
						<i ng-class="{active: deal.likes && deal.likes[ user.id ]}" class="icon-thumbs-up"></i>
					</div>
					<div class="score">
						{{ deal.score }}
					</div>
       				<div ng-click="dislike( deal )">
       					<i ng-class="{active: deal.dislikes && deal.dislikes[ user.id ]}" class="icon-thumbs-down"></i>
       				</div>
       			</div>
       			<div class="info">
       				<a href="{{deal.url}}" target="_dealio">
       					<h4>
       						<span class="deal-flags" ng-switch="deal.flags.dead.count">
       							<i title="Reported Dead by 1 user" class="icon-flag-alt" ng-switch-when="1"></i>
       							<i title="Reported Dead by 2 users" class="icon-flag-checkered" ng-switch-when="2"></i>
       							<i title="Reported Dead by 3 users" class="icon-flag" ng-switch-when="3"></i> 
       						</span>
       						{{ deal.title }}
       					</h4>
       				</a>
        			<p>
        				{{ deal.detail }}
        			</p>
        			<footer class="clearfix">
        				{{ deal.timestamp | jsSinceTime }} - {{ deal.owner.alias }}
        				<div class="opps pull-right" ng-show="user.firebaseAuthToken">
        					<i title="Resurect this Dying Deal" class="icon-medkit" ng-click="resurectDeal( deal )" ng-show="filter.collection == 'dead'"></i>
	        				<i title="Flag as Dead toggle" class="icon-flag-alt" ng-click="flag( deal, 'dead')" ng-class="{active: deal.flags.dead[ user.id ] }"></i>
	        				<i title="Edit Deal" class="icon-edit" ng-click="editDeal( deal )"></i>
	        				<i title="Delete Deal" class="icon-remove-sign" ng-show="deal.owner.id = user.id" ng-click="deleteDeal( deal )"></i>
	        			</div>
       				</footer>
        			
       			</div>
      		</div>
    	</div>
    	<div ng-show="!filteredDeals || filteredDeals.length <= 0" id="no-results-info">
    		<ng-include src="'views/no-results-info.html'"></ng-include>
		</div>
   	</section>
  	</div>
<div id="confirm-delete-modal" class="modal hide fade">
	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    	<h3>Confirm Delete</h3>
  	</div>
  	<div class="modal-body">
    	<p>Are you Sure you'd like to Permanently delete this deal?</p>
    	<h3>{{ deletingDeal.title }}</h3>
  	</div>
  	<div class="modal-footer">
    	<button class="btn" data-dismiss="modal">Cancel</button>
    	<button class="btn btn-danger" title="Cannot be Undone">Delete</button>
  	</div>
</div>
<div id="edit-deal-modal" class="modal hide fade">
	<form style="margin-bottom: 0">
		<legend>
			Edit Deal
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
   		</legend>
		<div class="control-group">
			<label class="control-label" for="title">Title:</label>
			<input type="text" ng-model="editingDeal.title" id="title" required="">
		</div>
		<div class="control-group">
			<label class="control-label" for="url">URL: <a href="{{editingDeal.url}}" target="_external">[test link]</a></label>
			<input type="url" ng-model="editingDeal.url" id="url" required="">
		</div>
		<div class="control-group">
			<label class="control-label" for="detail">Details:</label>
			<textarea ng-model="editingDeal.detail" id="detail" required=""></textarea>
		</div>
		<button class="btn" data-dismiss="modal">Cancel</button>
   		<button class="btn btn-danger">Save Changes</button>
	</form>
</div>