@import "BootstrapLess/variables.less";
@import "BootstrapLess/mixins.less";
@import "BootstrapLess/layouts.less";
@import "BootstrapLess/grid.less";
@import "BootstrapLess/responsive.less";
@import "BootstrapLess/type.less";
@import "BootstrapLess/navbar.less";
@import "BootstrapLess/buttons.less";
@import "BootstrapLess/code.less";
@import "BootstrapLess/carousel.less";

//Variables

// Baseline grid
@basefont:          13px;
@baseline:          18px;
@doubleline:        @baseline * 2;
@halfline:          @baseline / 2;
@thirdline:         @baseline / 3;

@primaryColor:          @red;
@altLinkColor:          lighten( @primaryColor, 5% );
@altLinkColorHover:     @primaryColor;

@highlightColor:    #19335c;
@font-face {
   // font-family: "Pico Black";
   // src: url("fonts/PICOBLA_.TTF")
}

// Styles by ID

//HTML5 Shiv Styling
section, header, footer {
    display: block;
}

//Styles by tag name
body {
    margin:         0;
    font-family:    Trebuchet MS;
    background-color:   #fcfcfc;
    a {
        color:              @linkColor;
        font-weight:        bold;
        text-decoration:    none;
        
        &:hover {
            color:      @linkColorHover;
        }
    }
    p {
        font-size:  15px;
    }
    
    .content section {
        margin-bottom: @baseline + @halfline;
    }
}
img {
    border: none;
}
header {
    margin-bottom:  @baseline;
    padding-top:    @halfline;
    background:     #F2F2F2;
    border-bottom:  2px solid #ddd;
    
    hr {
        margin: 2px auto; 
        height: 1px;
    }
}
h2:after {
    background: #F2F2EC;
    height: 1px;
    width:  100%;
    display: block;
    content: "";
    border-top: 1px solid darken(#F2F2EC, 5%);
    border-bottom: 1px solid darken(#F2F2EC, 10%);
    margin: @thirdline 0 @baseline;
}
h3, h4 {
    margin: 0;
}

aside {
    float:  right;
}
footer {
    padding:  1px 0 @baseline * 2;
    
    .box-shadow( 0 0 @thirdline darken(#F2F2EC, 20%) );
    .gradientBar( darken(#F2F2EC, 15%), darken(#F2F2EC, 20%) );
    
    h3 {
        color:          #f3f3f3;
        font-size:      @baseline + @thirdline;
        line-height:    @baseline * 2;
        text-align:     center;
        border-bottom:  2px dotted #999;
        margin-bottom:  @halfline;
    }
    hr {
        margin: 0;
    }
    a {
        color:      white;
        display:    inline-block;
    }
    
    .contact {
        table {
           border-spaceing: 0;
        }
        label {
            font-weight: bold;
        }
    }
    .about {
        img {
            float:  left;
            height: @baseline * 7;
            margin: 0 @halfline @halfline 0;
        }
        h4 {
            margin-top: @halfline;        
        }
        .clearfix();
    }
    .projects {
        ul {
            list-style:     none;
            margin-left:    0;
        }
        a {
            padding-bottom: @thirdline/2;
            margin-bottom:  @thirdline/2;
        }
        .sprite {
            position:       relative;
            top:            3px;
            
            height:         @baseline;
            margin-right:   3px;
        }
    }
    .inner {
        border-right: 2px groove #F2F2F2;
        margin-right: -(@gridGutterWidth/2);
        padding-right: (@gridGutterWidth/2);
        height: 150px;
    }
    .legal {
         
        img { 
            height:     24px; 
            width:      auto;
            position:   relative;
            top:        @thirdline;
            float:      right;
        }
    }
    .social-sprite {
        height:     @baseline;
        width:      @baseline;
        display:    inline-block;
        overflow:   hidden;
        position:   relative;
        top:        2px;
        margin-right:   @thirdline;
        
        img {
            position:   relative;
            height:     @baseline;
        }
        .linkedIn {
            left:   -@baseline * 3;
        }
        .github {
            border-radius: 3px;
        }
    }
}

[id$=-detail] {
    display:    none;
    background: white;
    position:   absolute;
    
    top:    0;
    bottom: 0;
    left:   0;
    right:  0;
    
    margin:         @halfline auto;
    #gridSystem > .columns(@gridGutterWidth, @gridColumnWidth, @gridRowWidth, 12);
    
    .box-shadow( 0 0 @halfline #333 );
    .border-radius(@halfline);
    
    h2 {
        margin:         0;
        padding:        @thirdline @halfline;
        color:          white;
        font-size:      @baseline + @thirdline;
        line-height:    @baseline + @thirdline;
        font-family:    ITC Highlander Bold, Trebuchet MS;
        
        .border-radius( @halfline @halfline 0 0 );
        .gradientBar( lighten(@highlightColor, 30%), @highlightColor );
        
        &:after {
            display: none;
        }
    }
    
    &.active {
        display: block;
    }
    .detail {
        overflow-y: auto;
        
        position:   absolute;
        top:        @baseline + ( @thirdline * 3 );
        left:       0;
        bottom:     @baseline;
        right:      0;
        .summary {
            margin: @halfline @baseline;
        }
        h4 {
            clear: left;
        }
        .aside {
            float:      right;
            text-align: center;
            
            img {
                margin: 0 0 @thirdline @thirdline;
                width: 100%;
                .clearfix();
            }
        }
    }
}

.item {
    margin-bottom:  @gridGutterWidth;
    cursor:         pointer;   
    .thumb {
        width:  100%;
       
        .box-shadow( 0 0 6px #aaa );
        .border-radius( 6px );
        
        &:hover {
            .box-shadow( 0 0 9px @highlightColor );
        }
    }
    /*
    .summary {
        position:   absolute;
        bottom:     0;
        left:       0;
        right:      0;
        
        color:      #f3f3f3;
        padding:    @thirdline;
        
        #translucent > .background( #000, 0.8 );
        .transition( opacity .5s );
        .opacity( 0 );
    }
    
    .detail {
        overflow: scroll;
        text-align: left;
            
        .container {
            padding:    @baseline 0;
            background: #f2f2f2;
        }
    }*/
}
.lightbox {
   // z-index:    -1;
    display:    none;
    position:   fixed;
    z-index:    100000;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
    
    #translucent > .background( #000, 0.8 );
    
    .transition( all 0.5s );
    &.active {
        display: block;
    }
}
#featuredCarousel {
	.item {
		width: 100% !important;
		max-height: 650px;
		overflow: hidden;
		
		p {
			max-height: 40px;
		}
		img {
			width: 100%;
			//max-width: 1000px;
			margin: 0 auto;
			cursor: auto;
		}
	}
}
#solo-projects {
    margin-bottom: @baseline * 2;
}
.about-box {
    h3 {
        color:          white;
        padding:        0 @halfline;
        margin-bottom:  @halfline;
        
        .box-shadow( 0 0 2px #999 );
        .border-radius( 2px );
        .gradientBar( lighten(@highlightColor, 30%), @highlightColor );
    }
    .avatar {
        margin-bottom:  @gridGutterWidth;
        
        .border-radius( 3px );
        .box-shadow( 0 0 @thirdline #aaa );
        .clearfix();
    }
    p {
        padding-left: @halfline;
    }
    .professional {
        .clearfix();
    }
    .content {
        
    }
    .tech-stack {
        text-align: center;
        margin-top: @thirdline;
        background: #eee;
        
        .border-radius( 3px );
        .box-shadow( 0 0 2px #999 );
        
        padding: @baseline;
        
        img {
            height: @baseline * 3;
            margin-right: @halfline;
        }
    }
    &:after {
        background: #F2F2EC;
        height: 1px;
        width:  90%;
        display: block;
        content: "";
        border-top: 1px solid darken(#F2F2EC, 5%);
        border-bottom: 1px solid darken(#F2F2EC, 10%);
        margin: @baseline*2 auto 0;
    }
}

//Responsive Sizing elements
@media (max-width: 480px) {
    @baseline:          12px;
    @gridGutterWidth:   20px;
    
    @import "Less Themes/index/responsiveSizing.less";
    
    #prof-head {
    	margin-left: (@gridGutterWidth * 5) + 5;
    }
    header h1 small {
        display: inline-block;
    }
    .container .container { //override default responsive grid
        padding:    0 @halfline;
    }
    .about-box .avatar {
        float:  left;
        width:  @gridGutterWidth * 5;
        margin: 0 @halfline @halfline 0;
    }
    [id$=-detail] {
        width: 95%;
    }
    footer .inner {
        height:         auto;
        border-right:   none;
    }
    .item, footer .span3 {
        width: 95% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
// LANDSCAPE PHONE TO SMALL DESKTOP & PORTRAIT TABLET
// --------------------------------------------------

@media (min-width: 481px) and  (max-width: 767px) {
    @baseline:          14px;
    @gridGutterWidth:   20px;
    
    @import "Less Themes/index/responsiveSizing.less";
    
    header h1 small {
        display: inline-block;
    }
    .container .container { //override default responsive grid
        padding:    0 @halfline;
    }
    #prof-head {
    	margin-left: (@gridGutterWidth * 5) + 5;
    }
    .about-box .avatar {
        float:  left;
        width:  @gridGutterWidth * 5;
        margin: 0 @halfline @halfline 0;
    }
    [id$=-detail] {
        width: 95%;
    }
    
    footer .inner {
        height:         auto;
        border-right:   none;
    }
    
    .item, footer .span3  {
        float: left !important;
        width: 45% !important;
        margin-right:    @gridGutterWidth !important;
    }
}

// PORTRAIT TABLET TO DEFAULT DESKTOP
// ----------------------------------

@media (min-width: 768px) and (max-width: 979px) {
    @baseline:  14px;
    @gridGutterWidth:   20px;
    
    @import "Less Themes/index/responsiveSizing.less";
}

// DEFAULT DESKTOP
// ---------------

@media (min-width: 980px) {
    @baseline:          15px;
    @gridGutterWidth:   20px;
    
    @import "Less Themes/index/responsiveSizing.less";
}

// LARGE DESKTOP & UP
// ------------------

@media (min-width: 1200px) and (max-width: 1440px) {
    @baseline:          16px;
    @gridGutterWidth:   30px;

    @import "Less Themes/index/responsiveSizing.less";
}

@media (min-width: 1441px ) {
    @baseline:          18px;
    @gridGutterWidth:   30px;
    
    @import "Less Themes/index/responsiveSizing.less";
}