@import "BootstrapLess/variables.less";
@import "BootstrapLess/mixins.less";
@import "BootstrapLess/grid.less";
@import "BootstrapLess/type.less";
@import "BootstrapLess/layouts.less";
@import "BootstrapLess/responsive.less";
@import "BootstrapLess/navbar.less";
@import "BootstrapLess/buttons.less";

//Variables

// Baseline grid
@basefont:          13px;
@baseline:          18px;
@doubleline:        @baseline * 2;
@halfline:          @baseline / 2;
@thirdline:         @baseline / 3;

@primaryColor:          @red;
@altLinkColor:          lighten( @primaryColor, 5% );
@altLinkColorHover:     @primaryColor;
@font-face {
   // font-family: "Pico Black";
   // src: url("fonts/PICOBLA_.TTF")
}

// Styles by ID

//Styles by tag name
body {
    margin:         0;
    font-family:    Trebuchet MS;
    background-color:   #fcfcfc;
    a {
        color:              @linkColor;
        font-weight:        bold;
        text-decoration:    none;
        
        &:hover {
            color:      @linkColorHover;
        }
    }
    p {
        font-size:  15px;
    }
}
header {
    margin-bottom:  @baseline;
    background:     #F2F2F2;
    border-bottom:  2px solid #ddd;
    
    hr {
        margin: 2px auto; 
        height: 1px;
    }
}
h3, h4 {
    margin: 0;
}

aside {
    float:  right;
}
footer, .footer {
    padding:  1px 0 @baseline * 2;
    
    .box-shadow( 0 0 @thirdline darken(#F2F2EC, 20%) );
    .gradientBar( darken(#F2F2EC, 15%), darken(#F2F2EC, 20%) );
    
    h3 {
        color:          #f3f3f3;
        font-size:      @baseline + @thirdline;
        line-height:    @baseline * 2;
        text-align:     center;
        border-bottom:  2px dotted #999;
        margin-bottom:  @halfline;
    }
    hr {
        margin: 0;
    }
    a {
        color:      white;
        display:    inline-block;
    }
    
    .contact {
        table {
           border-spaceing: 0;
        }
        label {
            font-weight: bold;
        }
    }
    .about {
        img {
            float:  left;
            height: @baseline * 7;
            margin: 0 @halfline @halfline 0;
        }
        .clearfix();
    }
    .projects {
        ul {
            list-style:     none;
            margin-left:    0;
        }
        a {
            padding-bottom: @thirdline/2;
            margin-bottom:  @thirdline/2;
        }
        .sprite {
            position:       relative;
            top:            3px;
            
            height:         @baseline;
            margin-right:   3px;
        }
    }
    .logo {
        text-align: right;
        color:      #fff;
        
        img { 
            height:     24px; 
            width:      auto;
            position:   relative;
            top:        @thirdline;
        }
    }
}

[id$=-detail] {
    display:    none;
    background: white;
    position:   absolute;
    
    top:    0;
    bottom: 0;
    left:   0;
    right:  0;
    
    margin:         @halfline auto;
    width:          940px;
    
    .box-shadow( 0 0 @halfline #333 );
    .border-radius(@halfline);
    
    h2 {
        margin:         0;
        padding:        @thirdline @halfline;
        color:          white;
        line-height:    24px;
        font-family:    ITC Highlander Bold, Trebuchet MS;
        
        .border-radius( @halfline @halfline 0 0 );
        .gradientBar( lighten(@primaryColor, 5%), darken(@primaryColor, 5%) );
    }
    
    &.active {
        display: block;
    }
    .detail {
        overflow-y: auto;
        
        position:   absolute;
        top:        @baseline*2;
        left:       0;
        bottom:     @baseline;
        right:      0;
        .summary {
            margin: @halfline @baseline;
        }
        h4 {
            clear: left;
        }
        .aside {
            float:      right;
            text-align: center;
            
            img {
                margin: 0 0 @thirdline @thirdline;
                width: 100%;
                .clearfix();
            }
        }
    }
}
.social-sprite {
    height:     @baseline;
    width:      @baseline;
    display:    inline-block;
    overflow:   hidden;
    position:   relative;
    
    img {
        position:   relative;
        height:     @baseline;
    }
    .linkedIn {
        left:   -@baseline * 3;
    }
}
.item {
    position:   relative;
    text-align: center;
    
    margin-bottom:  @baseline;
    height:         @baseline * 15;
    
    .box-shadow( 0 0 5px #999 );
    .border-radius( 3px );
    #translucent > .background( #333, 0.2 );
    
    .thumb {
        width:  94%;
        height: 92%;
        
        position:   absolute;
        top:        4%;
        left:       3%;
        
        border: 1px solid #AAA;
        .box-shadow( 0 0 2px #999 );
        .border-radius( 9px );
        
        &.zoom {
            z-index:    1;
            .transition( all .5s );
            
            &:hover {
                width: 100%;
                height: 100%;
                
                top: 0;
                left: 0;
            }
        }
    }
    
    .summary {
        position:   absolute;
        bottom:     0;
        left:       0;
        right:      0;
        
        color:      #f3f3f3;
        padding:    @thirdline;
        #translucent > .background( #000, 0.8 );
        .transition( opacity .5s );
        .opacity( 0 );
    }
    
    .detail {
        overflow: scroll;
        text-align: left;
            
        .container {
            padding:    @baseline 0;
            background: #f2f2f2;
        }
    }
    &.active {
        .summary {
           // .opacity( 100 );
        }
    }
}
.lightbox {
   // z-index:    -1;
    display:    none;
    position:   fixed;
    z-index:    100000;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
    
    #translucent > .background( #000, 0.8 );
    
    .transition( all 0.5s );
    &.active {
        display: block;
    }
}
.main-content {
    margin-bottom: @baseline * 2;
}
.about-box {
     h3 {
        color:          white;
        padding:        0 @halfline;
        margin-bottom:  @halfline;
        
        .box-shadow( 0 0 2px #999 );
        .border-radius( 2px );
        .gradientBar( lighten(@linkColor, 10%), @linkColor );
    }
    img {
        float:    left;
        margin-bottom:  @gridGutterWidth;
        
        .clearfix();
    }
    p {
        padding-left: @halfline;
    }
    .professional {
        .clearfix();
    }
    &:after {
        background: #F2F2EC;
        height: 1px;
        width:  90%;
        display: block;
        content: "";
        border-top: 1px solid darken(#F2F2EC, 5%);
        border-bottom: 1px solid darken(#F2F2EC, 10%);
        margin: @baseline*2 auto;
    }
}

//Responsive Sizing elements
@media (max-width: 480px) {
    
}

// LANDSCAPE PHONE TO SMALL DESKTOP & PORTRAIT TABLET
// --------------------------------------------------

@media (max-width: 767px) {
    @baseline:  14px;
    
    font-size:      @baseline;
    line-height:    @baseline * 1.3;
}

// PORTRAIT TABLET TO DEFAULT DESKTOP
// ----------------------------------

@media (min-width: 768px) and (max-width: 979px) {
    @baseline:  14px;
    font-size:  @baseline;
}

// TABLETS AND BELOW
// -----------------
@media (max-width: 979px) {
    
}

// DEFAULT DESKTOP
// ---------------

@media (min-width: 980px) {

}

// LARGE DESKTOP & UP
// ------------------

@media (min-width: 1200px) and (max-width: 1440px) {
    @baseline:  15px;
    font-size:  @baseline;
}

@media (min-width: 1441px ) {
    font-size:      @baseline;
    line-height:    @baseline + @thirdline;
}