<footer>
    <hr/>
    <div class='container'>
        <div class='row'>
            <div class='span3 contact'>
                <h3>Contact James</h3>
                <table>
                    <tbody>
                        <tr>
                            <td><label>E-mail:</label></td>
                            <td><a href='mailto:jsimpsonjr00@gmail.com'>jsimpsonjr00</a></td>
                        </tr>
                        <tr>
                            <td><label>Phone:</label></td>
                            <td>(423) 444 - 4076</td>
                        </tr>
                        <tr>
                            <td><label>Social:</label></td>
                            <td>
                                <a href="http://www.linkedin.com/pub/james-simpson/35/744/937" target="_external">
                                    <img class="linkedIn-sprite" src="images/cute-social-sprites.png">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class='span3 about'>
                <h3>About James</h3>
                <p>
                    <img src='images/Headshot.jpg'>
                    Freelance and speculative developer specializing in custom front end modular javascript with the 
                    jQuery library.
                </p>
                <h4>Resume( <a href='/Resume/'>HTML</a> <a href='/Resume/Resume.pdf'>PDF</a> )</h4>
            </div>
            <div class='span3 projects'>
                <h3>James' Projects</h3>
                <ul>
                    <li><a href='http://jsimpsonjr00.github.com/Woot/'>Auto Woot</a></li>
                    <li><a href='http://midealshop.appspot.com'>Mi Deal Shop</a></li>
                    <li><a href='http://mitwidget.appspot.com/'>Mi Twidget</a></li>
                    <li><a href='http://www.jsblogstop.com'>JS Blog Stop</a></li>
                </ul>
            </div>
            <div class='span3'>
                <h3>JNet Ventures</h3>
                <p>
                    Logo and brief info on JNet Ventures
                </p>
            </div>
        </div>
    </div>
</footer>