<header class='navbar-fixed-top'>
    <div class='container'>
    	<img class="avatar" src="/images/Headshot.jpg">
    	<div class='social pull-right'>
    		<a class='social-sprite' href='mailto:jsimpsonjr00@gmail.com' title='mail jsimpsonjr00@gmail.com'>
            	<img class='email' src='/images/mail-icon.png'>
			</a>
			<a href='tel:14234444076' title='Call (423) 444-4076'>
            	<img class='email' src='/images/phone-icon.png'>
			</a>
            <a class='social-sprite' title='Connect on LinkedIn' href="http://www.linkedin.com/pub/james-simpson/35/744/937" target="_external">
            	<img class="linkedIn" src="/images/cute-social-sprites.png">
            </a>
            <a class='social-sprite' title='Find me on Github' href="http://www.github.com/jsimpsonjr00" target="_external">
            	<img class="github" src="/images/github-social-sprite.png">
            </a>
    	</div>
        <h1><a href='/'>James Simpson</a> <small>front end programmer</small></h1>
    </div>
</header>