<section id='demos'>
    <h2>Demos <small>open source, AngularJS, Fiddles, etc.</small></h2>
   	<p>
    	<a href='http://jnv-angular.appspot.com'>JNV Angular</a> - a growing collection of demos featuring AngularJS
    </p>
    <p>
        <a href='#/projects/demos/jsFiddles/'>JSFiddles</a> - assorted collection of JSFiddle experiments.
    </p>
     <p>
        <a href='#/projects/demos/jsTemplates'>JS Templates</a> - a simple client side templating plugin to jQuery
        aimed at JSON to markup transformation for AJAX applications.
    </p>
</section>