<div class='deal-statuses'>
	<h4>What do the Deal Statuses Mean?</h4>
	<p>
		<table class='table'>
			<tr>
				<td><span class="label label-firey">Firey</span></td>
				<td>a net score of at least {{ threshold.firey }}</td>
			</tr>
			<tr>
				<td><span class="label label-fresh">Fresh</span></td>
				<td>recently submitted with unclear voting</td>
			</tr>
			<tr>
				<td><span class="label label-aging">Aging</span></td>
				<td>fresh deals from at least {{ threshold.aging | jsBeforeNow | jsSinceTime }}</td>
			</tr>
			<tr>
				<td><span class="label label-dead">Dead</span></td>
				<td>flagged dead by {{ threshold.dead }} or more users</td>
			</tr>
			<tr>
				<td><span class="label label-hated">Hated</span></td>
				<td>a net score of {{ threshold.hated }} or worse</td>
			</tr> 
		</table>
	</p>
	<p>
		<small>
			Status thresholds may be adjusted as needed
		</small>
	</p>
</div>