<article class='clearfix'>
	<section class='span6 item {% cycle 'pull-right', '' %}'>
		<h3>{{ post.title }}</h3>
		<p>
			{{ post.summary }}
		</p>
		<p>
			{% if post.link == nil %}
				<a class='btn btn-primary' href='#{{ post.url }}'>View Larger</a>
			{% else %}
				<a class='btn btn-primary' href='{{ post.link }}' target='_external'>Visit {{ post.title }}</a>
			{% endif %}
		</p>
	</section>
	<section class='span6 item'>
		{% if post.link == nil %}
			<js-bootstrap-img src-xs='images/personal/small/{{post.image-name}}.png'
					src-md='/images/personal/medium/{{post.image-name}}.png' class='thumb'></js-bootstrap-img>
		{% else %}
			<a href='{{ post.link }}' target='_external'>
		    	<js-bootstrap-img src-xs='images/personal/small/{{post.image-name}}.png'
					src-md='/images/personal/medium/{{post.image-name}}.png' class='thumb'></js-bootstrap-img>
		    </a>
		{% endif %}
	</section>
</article>