<article class='clearfix'>
	<section class='span6 item {% cycle 'pull-right', '' %}'>
		<h3>{{ post.title }}</h3>
		<p>
			{{ post.summary }}
		</p>
		<p>
			{% if post.link == nil %}
			
			{% else %}
				<a class='btn btn-primary' href='{{ post.link }}' target='_external'>Visit {{ post.title }}</a>
			{% endif %}
		</p>
	</section>
	<section class='span6 item'>
		{% if post.link == nil %}
			<img src='/images/portfolio/medium/{{ post.image-name }}-720.png' class='thumb'>
		{% else %}
			<a href='{{ post.link }}' target='_external'>
		    	<img src='/images/portfolio/medium/{{ post.image-name }}-720.png' class='thumb'>
		    </a>
		{% endif %}
	</section>
</article>