<article>
	<section>
		<h3>Filter {{ Demo.id }} <small>{{ Demo.subtitle }}</small></h3>
		<p>
			The jsLocationSpy directive is currently in use on this page attached to the main menu. Whenever
			the route is changed the selected path's corrseponding A element is set to active. This may be 
			applied to any number of navigation groups by adding the js-location-spy directive.
		</p>
	</section>
	<section>
		<h3>The Markup</h3>
		<pre><code>{{ markupSRC }}</code></pre>
	</section>
	<section>
		<h3>The Code</h3>
		<pre>{{ scriptSRC }}</pre>
	</section>
</article>