// LARGE DESKTOP & UP
// ------------------
@import "responsiveSizing.less";

@media (min-width: 1200px) and (max-width: 1440px) {
    @baseline:          16px;
    @gridGutterWidth:   30px;

    .responsiveSizing( 16px, 30px );
}

@media screen and (min-width: 1441px ) {
    @baseline:          18px;
    @gridGutterWidth:   30px;
    
   .responsiveSizing( 18px, 30px );
}