---
layout: ForSale
---
<div class='row'>
    <section class='span9 post-image'>
        <img src='{{ page.image }}' class='item-image {{ page.image-layout }}'>
    </section>
    <section class='span3 sidebar'>
        <h2>Item Details</h2>
        <div class='item-details'>
            <p>
                {{ content }}
            </p>
            <p>
                <label>Asking Price:</label>{{ page.price }}<br/>
                <small>All offers considered</small>
            </p>
            <section class='trading'>
                <h3>Accepting trade proposals of</h3>
                <ul class='wanted'>
                    <li>WiFi Capable Android Phone</li>
                    <li>Intel Core i3 or better Laptop</li>
                    <li>Recumbent or regular exercise bike</li>
                </ul>
            </section>
            <h3>Contact Info</h3>
            <p>
                <label>E-mail: <a href='mailto:jsimpsonjr00@gmail.com?subject={{ page.title }}'>jsimpsonjr00@gmail.com</a></label><br/>
                <label>Voicemail: 444 - 4076</label><br/>
                <small>Local Cash Only as is no refunds, no warranty</small>
            </p>
        </div>
    </section>
</div>
