---
layout: default
---
<style>
    .item-image {
        width: 100%;
    }
    .back-link {
        line-height:    20px;
        font-size:      20px;
    }
    .back-link .arrow {
        float: left;
        margin: 0 9px 0 0;
        
        border-right: 10px solid #08C;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
    .back-link:hover .arrow {
        border-right-color: #005580;
    }
    .item-details .btn {
        display: block;
        margin: 9px auto;
    }
</style>
<div class='row'>
    <section class='span9 post-image'>
        <h2>{{ page.title }} <small>{{ page.tag-line }}</small></h2> 
        <img src='{{ page.image }}' class='item-image'>
    </section>
    <section class='span3 sidebar'>
        <h2>About {{ page.title }}</h2>
        <div class='item-details'>
            <p>
                {{ content }}
            </p>
            <p>
                <a class='btn btn-warning' href='{{ page.link }}' target='_external'>Get on Chrome Web Store</a>
            </p>
        </div>
        <nav>
            <a href='javascript: window.history.back();' class='back-link'><div class='arrow'></div>Back</a>
        </nav>
    </section>
</div>