<div class='social'>
	<i class='fa fa-envelope clickable' data-toggle="modal" href="#contact-modal" title='Contact Me'></i>
	<a href='tel:14234444076' title='Call (423) 444-4076'>
        	<i class='fa fa-mobile'></i>
	</a>
       <a title='Connect on LinkedIn' href="http://www.linkedin.com/pub/james-simpson/35/744/937" target="_external">
        	<i class='fa fa-linkedin-square'></i>
       </a>
       <a title='Find me on Github' href="http://www.github.com/jsimpsonjr00" target="_external">
        	<i class='fa fa-github-square'></i>
       </a>
</div>
