<section id='about' class='about-box'>
    <div class='about-inner'>
    	<h2>About Me</h2>
        <div class='professional row'> 
            <img class='span2 avatar' src='images/Headshot.jpg'>
            <div class='content span10'>
            	
                <p>
                    I am a Freelance and speculative developer specializing in custom front end development. 
                    At current I'm most focused on HTML5, CSS3(LESS and SASS), AngularJS and jQuery development, but have experience
                    with PHP, classic ASP, some Java on Google App Engine, dabbling in native Android development, JSP and ASP.Net
                    I've also worked with SQL Server and MySQL. Interested in Freelance remote opportunities and relocation 
                    for On-site employment in the US and Europe.
                </p>
                <h4>Resume( <a href='Resume/'>HTML</a> <a href='Resume/Resume.pdf'>PDF</a> ) Rates (<a href='/Rates/Freelance Rate Sheet.pdf'>PDF</a>)</h4>
                <div class='tech-stack'>
                    <a href='http://www.html5rocks.com' target='_external'>
                        <img src='images/tech-logos/html5.png'>
                    </a>
                    <img src='images/tech-logos/CSS3.png'>
                    <a href='http://www.lesscss.org' target='_external'>
                        <img src='images/tech-logos/less.png'>
                    </a>
                    <a href='http://www.jquery.com' target='_external'>
                        <img src='images/tech-logos/jquery.png'>
                    </a>
                    <a href='http://www.github.com' target='_external'>
                        <img src='images/tech-logos/github.png'>
                    </a>
                    <a href='http://www.angularjs.org' target='_external'>
                        <img src='images/tech-logos/angularjs.png'>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>