<div class='navbar-inner'>
	<div class='container'>
		<div class='brand pull-left'>
			James Simpson
		</div>
		<ul class="nav" js-location-spy>
	      	<li class='active'>
	      		<a href="#/projects/featured" class='active'>
					<div>
						<i class='fa fa-users'></i>
						Clients
					</div>
				</a>
	      	</li>
	      	<li>
	      		<a href="#/projects/personal">
					<div>
						<i class='fa fa-user'></i>
						Personal
					</div>
				</a>
	      	</li>
	      	<li>
	      		<a href="#/projects/chrome-extensions">
					<div>
						<img src='/images/Chrome-32.png' class='icon'>
						Extensions
					</div>
				</a>
	      	</li>
	      	<li>
	      		<a href="#/projects/demos">
					<div>
						<i class='fa fa-desktop'></i>
						Demos
					</div>
				</a>
	      	</li>
	      	<li>
	      		<a href="#/about">
					<div>
						<i class='fa fa-info-circle'></i>
						About
					</div>
				</a>
	      	</li>
	    </ul>
	</div>
</div>
